<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaoly.frm.security.dao.mapper.AccountAndRoleMapper">
  <resultMap id="BaseResultMap" type="com.chinaoly.frm.security.Model.AccountAndRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="RELATION_ID" jdbcType="VARCHAR" property="relationId" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
</mapper>