<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaoly.frm.security.dao.mapper.RoleAndResourceMapper">
  <resultMap id="BaseResultMap" type="com.chinaoly.frm.security.Model.RoleAndResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="RELATION_ID" jdbcType="VARCHAR" property="relationId" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="RESOURCE_ID" jdbcType="VARCHAR" property="resourceId" />
    <result column="PERMISSION" jdbcType="DECIMAL" property="permission" />
  </resultMap>
</mapper>